:root {

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    --C1: #e69011;
    --C2: #f34506;
    --C3: rgb(4, 156, 4);
    --C4: rgba(7, 92, 204, 0.979);
    --C5: #33373a;
    --C6: #242424;
  
  }
  
  body {
    margin: auto;
    /* display: flex; */
 
  }