:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --C1: #e69011;
  --C2: #f34506;
  --C3: rgb(4, 156, 4);
  --C4: rgba(7, 92, 204, 0.979);
  --C5: #33373a;
  --C6: #242424;
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}
/* navigation pages component css below.*/
ul {
  list-style: none;
}
nav > ul {
  grid-column: 1/3;
  grid-row: 1/3;
}
nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 30px;
  height: 100px;
}
nav > *:not(hr) {
  cursor: pointer;
}
nav > ul > li:nth-child(2) {
  padding-left: 20px;
}
nav summary:hover,
#services li:hover {
  text-decoration: underline;
}

details > summary {
  list-style: none;
}
details > ul {
  padding-left: 20px;
}
nav > hr {
  /* width: 80%; */
  grid-column: 1/6;
  grid-row: 5/5;
}
#logo {
  /* background: red; */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid green;
  grid-column: 5/6;
  grid-row: 1/6;
}
/* navigation pages component css  above.*/
