:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --C1: #e69011;
  --C2: #f34506;
  --C3: rgb(4, 156, 4);
  --C4: rgba(7, 92, 204, 0.979);
  --C5: #33373a;
  --C6: #242424;
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}
/* navigation pages component css below.*/

nav {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 30px;
  height: 100px;
}
nav > *:not(hr) {
  cursor: pointer;
}
nav > ul > li:nth-child(2) {
  padding-left: 20px;
}
nav summary:hover,
#services li:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
}
ul > hr {
  border: none;
  height: 1px;
  background: rgba(214, 214, 214, 0.384);
}
nav > ul {
  grid-column: 2/3;
  grid-row: 1/3;
}
details > summary {
  list-style: none;
}
details > ul {
  padding-left: 20px;
}

#logo-parent {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  grid-column: 5/5;
  grid-row: 1/6;
}
#logo {
  width: inherit;
  height: inherit;
}

/* navigation pages component css  above.*/

/* home page component css below */
.page {
  margin: 70px auto auto auto;
  background: rgba(224, 224, 224, 0.39);
  width: 50dvw;

  
}
#homepage{
  background: rgba(224, 224, 224, 0.39);
  width: 50dvw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
/* home page component css above */
footer {
  position: absolute;
  bottom: 0;
  width: 50dvw;
  height: 100px;
padding-left:100px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

